<html>

<head>
    <title>
        <%= title  %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>

</head>

<body>
    <%- include('header'); %>

        <%- body %>


            <%- include('footer'); %>

                <%- script %>

</body>

</html>