<html>

<head>
    <title>
        <%= title  %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <%- style %>

</head>

<body>
    <%- include('header'); %>

        <main id="layout-main">
            <%- body %>
        </main>
        <%- include('footer'); %>

            <%- script %>

</body>

</html>